name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: sudo apt update -y && sudo apt upgrade -y && sudo apt install libwayland-dev libpipewire-0.3-dev
    - name: Check
      run: cargo check --verbose
    - name: Run tests
      run: cargo test --verbose
